@use '../../scss/variables' as *;
@use "../../scss/vendors/popper-arrow-placement" as *;

.map-popper {
    z-index: 4000;

    &.popper {
        .popper__arrow {
            width: 1.6rem;
            height: 1.6rem;

            &::before {
                border: 1px solid rgba($black, 0.12);
            }
        }

        @include popper-arrow-placement('.popper', 1.6rem);
    }

    &__close {
        position: absolute;
        top: $spacing-scale-5;
        right: $spacing-scale-5;
    }

    .MuiPaper {
        &-root {
            width: 100%;
            max-width: 32rem;
            padding: $spacing-scale-10;
            border-radius: $border-radius-lg;
            box-shadow: $box-shadow-md;
        }
    }
}
