.actions-bar {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(.1rem, max-content));
	grid-gap: $spacing-scale-6;
	align-items: center;
	justify-content: start;

	&--direction-column {
		grid-template-columns: none;
		justify-items: start;
	}
}
