.stack {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, max-content));
    grid-gap: $spacing-scale-6;
    align-items: center;
    justify-content: start;

    &--justifyEnd {
        justify-content: end;
    }

    &--justifyStretch {
        justify-content: stretch;
    }

    &--justifySelfStretch {
        justify-self: stretch;
    }

    &--alignItemsEnd {
        align-items: end;
    }

    &--justifyItemsStart {
        justify-items: start;
    }

    &--direction-column {
        grid-template-columns: 1fr;
        justify-content: stretch;
        align-items: start;
        justify-items: start;
    }

    @each $key, $spacing in $spacing-scale {
        &--gap-#{$key} {
            grid-gap: $spacing;
        }
    }
}
