.u-text-truncate {
    @include truncation;
}
.u-text-strong {
    font-weight: $font-weight-strong;
}

.u-text-primary {
    color: $color-primary;
}

.u-text-secondary {
    color: $color-secondary;
}

.u-text-note {
    color: $color-text-note;
}

.u-text-small {
    font-size: $font-size-small;
}
