.MuiCustomAutocomplete {
    &-fullWidth {
        width: 100%;
    }

    &-popper {
        position: absolute;
    }

    &-paper {
        margin: 0.3rem 0;
        min-width: $autocomplete-list-min-width;
        transform-origin: 0 0 0;
        overflow: hidden;
        box-shadow: $menu-paper-box-shadow;
    }

    &-simplebar {
        max-height: $autocomplete-list-max-height;

        @include media-breakpoint-down('sm') {
            max-height: 50vh;
        }
    }

    &-list {
        overflow: hidden;
    }

    &-listItem {
        @include disable-tap-highlight-color;

        &[aria-selected='true'] {
            background-color: $list-item-selected-bg-color;

            &:hover {
                background-color: $list-item-selected-hover-bg-color;
            }
        }

        &:hover {
            background-color: rgba($btn-color, $btn-outlined-hover-opacity);
        }

        &.Mui-focusVisible {
            background-color: $list-item-focus-visible-bg-color;
        }
    }
}
