.MuiCircularProgress {
    &-root {
        width: $circular-progress-size;
        height: $circular-progress-size;
    }

    &-colorInherit {
        color: inherit;
    }

    &-svg {
        width: auto;
        height: auto;
    }
}
