@use 'sass:math';

.MuiList {
	&-padding {
		padding: $list-padding-y 0;
	}
}

.MuiListItemButton {
	&-root {
		padding-top: $list-padding-y;
		padding-bottom: $list-padding-y;
	}

	&-dense {
		padding-top: math.div($list-padding-y, 2);
		padding-bottom: math.div($list-padding-y, 2);
	}

	&-gutters {
		padding-left: $list-padding-x;
		padding-right: $list-padding-x;
	}
}

.MuiListItemText {
	&-root {
		margin-top: math.div($list-padding-y, 2);
		margin-bottom: math.div($list-padding-y, 2);
		line-height: $list-item-line-height;

		& ~ & {
			margin-left: $list-padding-x;
		}
	}

	&-inset {
		padding-left: $list-padding-x - $spacing-scale-1 + $list-item-icon-font-size;
	}
}

.MuiListItemIcon {
	$this: &;

	&-root {
		min-width: 0;
		font-size: $list-item-icon-font-size;
		color: $icon-color;

		&:first-child {
			margin-right: $list-padding-x - $spacing-scale-1;
		}

		&:not(:first-child) {
			margin-left: $list-padding-x;
		}
	}
}
