.MuiInputBase {
    &-root {
        font-family: inherit;
        font-size: $input-base-font-size;
        font-weight: $input-base-font-weight;
        letter-spacing: $input-base-letter-spacing;
        line-height: $input-base-line-height;
        color: $input-base-color;
    }

    &-input {
        &::placeholder {
            opacity: $input-base-placeholder-opacity;
        }

        @include input-autofill(
            $input-base-bg-color,
            $font-family,
            $input-base-font-size,
            $input-base-font-weight
        );
    }
}

.MuiInputAdornment {
    &-root {
        color: $input-base-adornment-color;
        font-size: $input-base-adornment-font-size;
    }

    &-positionStart {
        margin-right: $input-base-padding-x - $spacing-scale-1;
    }

    &-positionEnd {
        margin-left: $input-base-padding-x - $spacing-scale-1;
    }
}
