.MuiMenu {
    &-root {
        .MuiPaper {
            // Default elevation
            &-elevation8 {
                box-shadow: $menu-paper-box-shadow;
            }
        }

        & .MuiDivider-root {
            margin-top: $spacing-scale-4;
            margin-bottom: $spacing-scale-4;
        }
    }
}

.MuiMenuItem {
    @extend .MuiListItemButton;

    &-root {
        @extend .MuiListItemButton-root;

        min-height: $menu-item-min-height;

        &.Mui-selected,
        &.Mui-selected.Mui-focusVisible {
            background-color: $list-item-selected-bg-color;

            &:hover {
                background-color: $list-item-selected-hover-bg-color;
            }
        }

        // &.Mui-focusVisible {
        //     background-color: rgba($black, 0.12);
        // }

        .MuiListItemIcon-root {
            @extend .MuiListItemIcon-root;
        }

        .MuiListItemText-root {
            @extend .MuiListItemText-root;

            margin-top: 0;
            margin-bottom: 0;
        }
    }
}
