@use "sass:math";

.MuiChip {
    $this: &;

    &-root {
        color: inherit;
        font-size: $chip-medium-font-size;
        height: auto;
        transition: background-color 0.15s;

        #{$this}-icon {
            font-size: $chip-icon-font-size;
            margin-left: $chip-label-padding-x - $spacing-scale-1;
        }

        #{$this}-deleteIcon {
            font-size: $chip-delete-icon-font-size;
            color: $icon-color;
            margin-right: $chip-label-padding-x - $spacing-scale-2;
            transition: color 0.15s;

            &:hover {
                color: currentColor;
            }
        }
    }

    &-sizeMedium {
        min-height: $chip-medium-min-height;
        border-radius: $chip-medium-border-radius;
    }

    &-sizeSmall {
        min-height: $chip-small-min-height;
        border-radius: $chip-small-border-radius;
    }

    &-filled {
        background-color: $chip-filled-bg-color;
        color: $chip-filled-color;

        &:hover,
        &.Mui-focusVisible {
            background-color: darken($chip-filled-bg-color, 5%);
        }

        &:active {
            box-shadow: none;
        }
    }

    &-outlined {
        border: 0;
        box-shadow: 0 0 0 $chip-outlined-border-width $chip-outlined-border-color;

        &:hover,
        &.Mui-focusVisible {
            background-color: rgba($chip-filled-color, $chip-outlined-hover-opacity);
        }

        &:active {
            box-shadow: 0 0 0 $chip-outlined-border-width $chip-outlined-border-color;
        }
    }

    &-colorPrimary,
    &-colorSecondary {
        #{$this}-icon,
        #{$this}-deleteIcon {
            color: inherit;
        }
    }

    &-colorPrimary {
        &#{$this}-filled {
            background-color: $color-primary;
            color: $color-primary-text;

            &:hover,
            &.Mui-focusVisible {
                background-color: rgba($color-primary, $btn-hover-opacity);
            }
        }

        &#{$this}-outlined {
            box-shadow: 0 0 0 $chip-outlined-border-width $color-primary;
            color: $color-primary;

            &:hover,
            &.Mui-focusVisible {
                background-color: rgba($color-primary, $chip-outlined-hover-opacity);
            }
        }

        #{$this}-deleteIcon {
            &:hover {
                color: darken($color-primary, 15%);
            }
        }
    }

    &-colorSecondary {
        &#{$this}-filled {
            background-color: $color-secondary;
            color: $color-secondary-text;

            &:hover,
            &.Mui-focusVisible {
                background-color: rgba($color-secondary, $btn-hover-opacity);
            }
        }

        &#{$this}-outlined {
            box-shadow: 0 0 0 $chip-outlined-border-width $color-secondary;
            color: $color-secondary;

            &:hover,
            &.Mui-focusVisible {
                background-color: rgba($color-secondary, $chip-outlined-hover-opacity);
            }
        }

        #{$this}-deleteIcon {
            &:hover {
                color: darken($color-secondary, 15%);
            }
        }
    }

    &-label {
        padding: 0 $chip-label-padding-x;
        line-height: $chip-label-line-height;
    }

    &-labelMedium {
        font-size: $chip-medium-font-size;
    }

    &-labelSmall {
        font-size: $chip-small-font-size;
    }
}
