.MuiIcon {
	&-fontSizeLarge {
		font-size: $icon-large-font-size;
	}

	&-fontSizeMedium {
		font-size: $icon-medium-font-size;
	}

	&-fontSizeSmall {
		font-size: $icon-small-font-size;
	}
}
