.MuiFormLabel {
    &-root {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        font-family: inherit;
        font-size: $form-label-font-size;
        font-weight: $form-label-font-weight;
        line-height: $form-label-line-height;
        letter-spacing: $form-label-letter-spacing;
        color: $form-label-color;
        transition: color 0.15s ease;
    }

    &-asterisk {
        color: $form-label-asterisk-color;
    }

    &-colorPrimary {
        &.Mui-focused {
            color: $color-primary;
        }
    }

    &-colorSecondary {
        &.Mui-focused {
            color: $color-secondary;
        }
    }
}
