.MuiToggleButtonGroup {
	&-root {
		border-radius: 0;
	}
}

.MuiToggleButton {
	&-root {
		@extend .MuiButton-root;

		color: inherit;
		border-color: $btn-bg-color;

		&:hover {
			background-color: rgba($btn-color, $btn-outlined-hover-opacity);
		}

		&.Mui-selected {
			color: $body-color;
			background-color: rgba($body-color, $btn-outlined-hover-opacity);
		}
	}

	&-sizeLarge {
		@extend .MuiButton-sizeLarge;

		.MuiIcon-fontSizeInherit {
			font-size: $icon-large-font-size;
		}
	}

	&-sizeMedium {
		@extend .MuiButton-sizeMedium;

		.MuiIcon-fontSizeInherit {
			font-size: $icon-medium-font-size;
		}
	}

	&-sizeSmall {
		@extend .MuiButton-sizeSmall;

		.MuiIcon-fontSizeInherit {
			font-size: $icon-small-font-size;
		}
	}

	&-primary {
		&.Mui-selected {
			color: $color-primary;
			background-color: rgba($color-primary, $btn-outlined-hover-opacity);

			&:hover {
				background-color: rgba($color-primary-dark, $btn-outlined-hover-opacity);
			}
		}
	}

	&-secondary {
		&.Mui-selected {
			color: $color-secondary;
			background-color: rgba($color-secondary, $btn-outlined-hover-opacity);

			&:hover {
				background-color: rgba($color-secondary-dark, $btn-outlined-hover-opacity);
			}
		}
	}
}
