$black: #000000;
$white: #ffffff;

// Red
$red-lighten-5: #ffebee !default;
$red-lighten-4: #ffcdd2 !default;
$red-lighten-3: #ef9a9a !default;
$red-lighten-2: #e57373 !default;
$red-lighten-1: #ef5350 !default;
$red: #f44336 !default;
$red-darken-1: #e53935 !default;
$red-darken-2: #d32f2f !default;
$red-darken-3: #c62828 !default;
$red-darken-4: #b71c1c !default;
$red-accent-1: #ff8a80 !default;
$red-accent-2: #ff5252 !default;
$red-accent-3: #ff1744 !default;
$red-accent-4: #d50000 !default;

// Orange
$orange-lighten-5: #fff3e0 !default;
$orange-lighten-4: #ffe0b2 !default;
$orange-lighten-3: #ffcc80 !default;
$orange-lighten-2: #ffb74d !default;
$orange-lighten-1: #ffa726 !default;
$orange: #ff9800 !default;
$orange-darken-1: #fb8c00 !default;
$orange-darken-2: #f57c00 !default;
$orange-darken-3: #ef6c00 !default;
$orange-darken-4: #e65100 !default;
$orange-accent-1: #ffd180 !default;
$orange-accent-2: #ffab40 !default;
$orange-accent-3: #ff9100 !default;
$orange-accent-4: #ff6d00 !default;

// Deep orange
$deep-orange-lighten-5: #fbe9e7 !default;
$deep-orange-lighten-4: #ffccbc !default;
$deep-orange-lighten-3: #ffab91 !default;
$deep-orange-lighten-2: #ff8a65 !default;
$deep-orange-lighten-1: #ff7043 !default;
$deep-orange: #ff5722 !default;
$deep-orange-darken-1: #f4511e !default;
$deep-orange-darken-2: #e64a19 !default;
$deep-orange-darken-3: #d84315 !default;
$deep-orange-darken-4: #bf360c !default;
$deep-orange-accent-1: #ff9e80 !default;
$deep-orange-accent-2: #ff6e40 !default;
$deep-orange-accent-3: #ff3d00 !default;
$deep-orange-accent-4: #dd2c00 !default;

// Grey
$gray-lighten-6: #fafafa !default;
$gray-lighten-5: #f5f5f5 !default;
$gray-lighten-4: #eeeeee !default;
$gray-lighten-3: #e0e0e0 !default;
$gray-lighten-2: #dddddd !default;
$gray-lighten-1: #cfcfcf !default;
$gray: #9e9e9e !default;
$gray-darken-1: #757575 !default;
$gray-darken-2: #616161 !default;
$gray-darken-3: #343434 !default;
$gray-darken-4: #212121 !default;
